name: System

on:
  workflow_run:
    workflows: ["Build"]
    types:
      - completed
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  REPO_BADGES: 'jcs-emacs/badges'

jobs:
  generate_badge:
    runs-on: ubuntu-latest
    steps:
    - uses: jcs090218/setup-emacs@master
      with:
        version: 28.1

    - uses: actions/setup-node@v2
      with:
        node-version: '16'

    - uses: emacs-eask/setup-eask@master
      with:
        version: 'snapshot'

    - uses: actions/checkout@v2

    - name: Generate SVG badges (system)
      run: make generate_badges_system

    - name: Move badges to home
      run: mv ./badges/ ~/

    - name: Checkout badges repository
      uses: actions/checkout@v3
      with:
        repository: ${{ env.REPO_BADGES }}
        persist-credentials: false
        fetch-depth: 0

    - name: Move badges to repository
      run: |
        rm -rf ./elpa/emacs.svg
        rm -rf ./elpa/system.svg
        mv -f ~/badges/* ./elpa/

    - name: Set git config
      run: |
        git config user.name github-actions
        git config user.email github-actions@github.com

    - name: Commit
      continue-on-error: true
      run: |
        git pull
        git add .
        git commit -m "Update SVG badges - SYSTEM"

    - name: Push generated badges - SYSTEM
      continue-on-error: true
      uses: ad-m/github-push-action@master
      with:
        repository: ${{ env.REPO_BADGES }}
        github_token: ${{ secrets.PAT }}
        branch: master
